<div class="container pt-10 min-h-[350px]">
    <% if (locals.error && locals.error.length > 0)  { %>
        <div class="flex items-center justify-center h-full">
            <div>
                <p class="text-red-500 text-lg"><%= error %></p>
                <a href="/" class="btn mt-5">Trang chủ</a>
            </div>
        </div>
    <% } else { %>
         <div class="px-6 h-full">
            <div class="flex items-center justify-center h-full">
                <div class="flex items-center justify-center">
                    <div class="min-w-[440px] p-4 border rounded-2xl">
                        <header class="text-center">
                            <div class="flex justify-center">
                                <i class="bx bxs-check-circle text-primary text-5xl"></i>
                            </div>
                            <h5 class="mt-2 text-2xl font-bold">Cảm ơn vì đơn hàng của bạn</h5>
                        </header>

                        <div class="my-2 pb-4">
                            <p class="text-desc">Đơn hàng của bạn đang chờ xác nhận và sẽ được giao sớm đến bạn</p>
                            <div class="mt-3 flex flex-col items-center">
                                <p class="w-fit px-3 py-2 bg-[#eee] rounded-full">
                                    Mã đơn hàng #<%= locals.order ? order.maDonHang : "" %>
                                </p>
                            </div>
                        </div>

                        <div class="flex items-center justify-end border-t-2 border-dashed pt-4 gap-5">
                            <a href="/" class="bg-transparent text-black border-none">Trang chủ</a>
                            <a href="/user/order" class="btn bg-primary hover:bg-primary text-white rounded-full">
                                Theo dõi đơn hàng
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
</div>

    

