MONGODB_URI=mongodb://localhost:27017/your-database-name
PORT=8000

EMAIL_APP_USER=huynhthevinh.work@gmail.com
EMAIL_APP_PASSWORD=jknuwztiaymzbdud

SESSION_SECRET_KEY=shoes-shop-secret-key

REDIS_HOST=redis-15491.c295.ap-southeast-1-1.ec2.redns.redis-cloud.com
REDIS_PORT=15491
REDIS_PASSWORD=bW8rAbG2NEwsUhfErLhAouGQPbVDJHjl