<div class="w-[1280px] m-auto my-3">
    <div class="flex gap-2">
        <div class="w-1/5">
            <div class="border w-[80%] m-auto p-3 rounded-2xl">
                <h2 class="font-semibold text-green-800 text-lg underline my-2">Hồ sơ người dùng</h2>
                <ul class="">
                    <li><a href="#" class="block px-2 py-1">Tài khoản</a></li>
                    <li><a href="./history.html" class="block px-2 py-1">Đơn mua</a></li>
                    <li><a href="#" class="block px-2 py-1">Sản phẩm yêu thích</a></li>
                </ul>
            </div>
            <div class="flex my-5 justify-center">
                <a href="#" class="bg-green-700 text-white rounded-xl px-4 py-2">Logout</a>
            </div>
        </div>
        <div class="w-4/5">
            <div class="flex">
                <div class="flex-1 mx-5">
                    <form action="">
                        <h2 class="text-xl font-medium text-green-700">Thông tin tài khoản</h2>
                        <div class="">
                            <label for="" class="block my-2">Họ và Tên</label>
                            <input type="text" name="" id="" placeholder="Họ và Tên" class="w-full block outline-none py-2 px-4 border border-green-700 rounded">
                        </div>
                        <div>
                            <label for="" class="block my-2">Email</label>
                            <input type="email" name="" id="" placeholder="Email" class="w-full block outline-none py-2 px-4 border border-green-700 rounded">
                        </div>
                        <div>
                            <label for="" class="block my-2">Số điện thoại</label>
                            <input type="tel" name="" id="" placeholder="Số điện thoại" class="w-full block outline-none py-2 px-4 border border-green-700 rounded">
                        </div>
                        <div>
                            <label for="" class="block my-2">Địa chỉ</label>
                            <input type="text" name="" id="" placeholder="Địa chỉ" class="w-full block outline-none py-2 px-4 border border-green-700 rounded">
                        </div>
                        <div>
                            <label for="" class="block my-2">Ngày sinh</label>
                            <input type="date" name="" id="" placeholder="Ngày sinh" class="w-full block outline-none py-2 px-4 border border-green-700 rounded">
                        </div>
                        <div class="flex my-5 justify-end">
                            <input type="submit" value="Lưu thông tin" class="bg-green-700 text-white rounded-xl px-4 py-2">
                        </div>
                    </form>
                </div>
                <div class="flex-1 mx-5">
                    <form action="">
                        <h2 class="text-xl font-medium text-green-700">Thông tin đăng nhập</h2>
                        <div>
                            <label for="" class="block my-2">Username</label>
                            <input type="text" name="" id="" placeholder="Username" class="w-full block outline-none py-2 px-4 border border-green-700 rounded">
                        </div>
                        <div>
                            <label for="" class="block my-2">Mật khẩu cũ</label>
                            <input type="password" name="" id="" placeholder="Mật khẩu cũ" class="w-full block outline-none py-2 px-4 border border-green-700 rounded">
                        </div>
                        <div>
                            <label for="" class="block my-2">Mật khẩu mới</label>
                            <input type="password" name="" id="" placeholder="Mật khẩu mới" class="w-full block outline-none py-2 px-4 border border-green-700 rounded">
                        </div>
                        <div>
                            <label for="" class="block my-2">Nhập lại mật khẩu mới</label>
                            <input type="password" name="" id="" placeholder="Nhập lại mật khẩu mới" class="w-full block outline-none py-2 px-4 border border-green-700 rounded">
                        </div>
                        <div class="flex my-5 justify-end">
                            <input type="submit" value="Lưu thông tin" class="bg-green-700 text-white rounded-xl px-4 py-2">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>