html,
body {
    overflow-x: hidden;
}

:root {
    --marquee-width: 100%;
    --marquee-height: 20vh;
    --marquee-elements-displayed: 5;
    --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements) * 3s);

    --primary: "#0578f8";
}

*,
*:hover {
    scrollbar-color: auto !important;
}

.scrollbar::-webkit-scrollbar {
    border-radius: 0;
    width: 7px;
}

.scrollbar::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.1);
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.25);
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: 0.2rem;
}

/* --------------------- MARQUEE --------------------- */
.marquee {
    width: var(--marquee-width);
    height: var(--marquee-height);
    background-color: #111;
    color: #eee;
    overflow: hidden;
    position: relative;
}
.marquee:before,
.marquee:after {
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    content: "";
    z-index: 1;
}
.marquee:before {
    left: 0;
    background: linear-gradient(to right, #111 0%, transparent 100%);
}
.marquee:after {
    right: 0;
    background: linear-gradient(to left, #111 0%, transparent 100%);
}
.marquee-content {
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling var(--marquee-animation-duration) linear infinite;
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements)));
    }
}
.marquee-content li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: var(--marquee-element-width);
    max-height: 100%;
    font-size: calc(var(--marquee-height) * 3 / 4); /* 5rem; */
    white-space: nowrap;
    color: white;
}
.marquee-content li svg,
.marquee-content li svg g,
.marquee-content li svg path {
    fill: currentColor;
}

.marquee-content li img {
    width: 100%;
    /* height: 100%; */
    border: 2px solid #eee;
}

@media (max-width: 600px) {
    html {
        font-size: 12px;
    }
    :root {
        --marquee-width: 100vw;
        --marquee-height: 16vh;
        --marquee-elements-displayed: 3;
    }
    .marquee:before,
    .marquee:after {
        width: 5rem;
    }
}

@media print {
    /* Ẩn tất cả phần tử không cần thiết */
    body * {
        visibility: hidden !important;
    }

    /* Hiển thị phần hóa đơn */
    #invoice-section {
        visibility: visible !important;
        position: static !important;
    }

    /* Đảm bảo cha của phần hóa đơn hiển thị */
    #invoice-section,
    #invoice-section * {
        visibility: visible !important;
    }

    /* Chỉ in phần hóa đơn */
    #invoice-section {
        display: block !important;
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    #invoice-inner {
        box-shadow: none !important;
        border: none !important;
        padding: 0 !important;
    }

    #invoice-wrapper-modal {
        max-width: 100% !important;
    }
    /* Ẩn nút và các thành phần không cần thiết */
    #checkout-btn,
    #invoice-label-close-btn {
        display: none !important;
    }
}
