<!-- <h1 class="text-primary">Detail product</h1>
<% if (product) { %>
<h2><%= product.name %></h2>
<p><%= product.price %></p>
<p><%= product.description %></p>
<% } else { %>
<p>Product not found</p>
<% } %> -->
<div class="container mt-[83px]">
    <div>
        <!-- Breadcumbs -->
        <ol class="flex items-center whitespace-nowrap">
            <li class="inline-flex items-center">
                <a
                    class="flex items-center text-sm text-gray-500 hover:text-blue-600 focus:outline-none focus:text-blue-600"
                    href="#"
                >
                    Home
                </a>
                <svg
                    class="shrink-0 mx-2 size-4 text-gray-400"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                >
                    <path d="m9 18 6-6-6-6"></path>
                </svg>
            </li>
            <li class="inline-flex items-center">
                <a
                    class="flex items-center text-sm text-gray-500 hover:text-blue-600 focus:outline-none focus:text-blue-600"
                    href="#"
                >
                    Products
                    <svg
                        class="shrink-0 mx-2 size-4 text-gray-400"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    >
                        <path d="m9 18 6-6-6-6"></path>
                    </svg>
                </a>
            </li>
            <li class="inline-flex items-center text-sm font-semibold text-gray-800 truncate" aria-current="page">
                Nike Air Force 1 '07
            </li>
        </ol>
    </div>
    <div class="grid grid-cols-12 mt-5 gap-10">
        <section class="col-span-7">
            <div class="swiper swiper-product-images [&_.swiper-slide]:rounded-2xl">
                <div class="swiper-wrapper h-[500px]">
                    <div class="swiper-slide">
                        <img
                            class="object-cover h-full w-full rounded-2xl"
                            src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/b7d9211c-26e7-431a-ac24-b0540fb3c00f/AIR+FORCE+1+%2707.png"
                            alt=""
                        />
                    </div>
                    <div class="swiper-slide">
                        <img
                            class="object-cover h-full w-full rounded-2xl"
                            src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/3cc96f43-47b6-43cb-951d-d8f73bb2f912/AIR+FORCE+1+%2707.png"
                            alt=""
                        />
                    </div>
                    <div class="swiper-slide">
                        <img
                            class="object-cover h-full w-full rounded-2xl"
                            src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/ef92df87-6098-4fa5-bc88-7107492febcf/AIR+FORCE+1+%2707.png"
                            alt=""
                        />
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </section>
        <section class="col-span-5">
            <div>
                <h1 class="text-2xl font-bold">Nike Air Force 1 '07</h1>
                <p class="text-xl font-semibold text-primary mt-2">$90.00</p>

                <p class="mt-2 text-gray-500">
                    The radiance lives on in the Nike Air Force 1 '07, the b-ball OG that puts a fresh spin on what you
                    know best: crisp leather, bold colors and the perfect amount of flash to make you shine. This
                    iteration features a mix of leather and synthetic materials for added texture and durability.
                </p>

                <div class="mt-5">
                    <h2 class="text-lg font-semibold mb-2">Select size</h2>
                    <ul class="grid grid-cols-5 gap-3">
                        <li class="text-center border p-2 rounded-lg">EU 40</li>
                        <li class="text-center border p-2 rounded-lg">EU 41</li>
                        <li class="text-center border p-2 rounded-lg">EU 42</li>
                        <li class="text-center border p-2 rounded-lg">EU 43</li>
                        <li class="text-center border p-2 rounded-lg">EU 44</li>
                        <li class="text-center border p-2 rounded-lg">EU 45</li>
                    </ul>
                </div>

                <div>
                    <button class="mt-5 w-full bg-primary text-white py-3 rounded-full font-semibold">
                        Add to cart
                    </button>
                </div>
            </div>
        </section>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".swiper-product-images", {
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>
