<!-- Footer container -->
<footer class="bg-zinc-50 text-center text-surface/75 dark:text-black lg:text-left">
    <div
        class="container flex items-center justify-center border-b-2 border-neutral-200 p-6 dark:border-white/10 lg:justify-between"
    >
        <div class="me-12 hidden lg:block">
            <span>Get connected with us on social networks:</span>
        </div>
        <!-- Social network icons container -->
        <div class="flex justify-center [&_i]:text-xl">
            <a href="#!" class="me-6">
                <i class="bx bxl-facebook"></i>
            </a>
            <a href="#!" class="me-6">
                <i class="bx bxl-instagram"></i>
            </a>
            <a href="#!" class="me-6">
                <i class="bx bxl-twitter"></i>
            </a>
        </div>
    </div>

    <!-- Main container div: holds the entire content of the footer, including four sections (TW Elements, Products, Useful links, and Contact), with responsive styling and appropriate padding/margins. -->
    <div class="container">
        <div class="py-10 text-center md:text-left">
            <div class="grid-1 grid gap-8 md:grid-cols-2 lg:grid-cols-4">
                <!-- TW Elements section -->
                <div class="">
                    <h6 class="mb-4 flex items-center justify-center font-semibold uppercase md:justify-start">
                        <img class="size-10" src="/images/logo.png" alt="" />
                        <span class="ms-3">Shoes Shop</span>
                    </h6>
                    <p class="text-black/70">
                        At here, we are passionate about delivering stylish, high-quality footwear for every occasion.
                        From casual sneakers to elegant formal shoes, our collections are designed to suit your
                        lifestyle and preferences
                    </p>
                </div>
                <!-- Products section -->
                <div>
                    <h6 class="mb-4 flex justify-center font-semibold uppercase md:justify-start">Products</h6>
                    <p class="mb-4">
                        <a href="#!">Angular</a>
                    </p>
                    <p class="mb-4">
                        <a href="#!">React</a>
                    </p>
                    <p class="mb-4">
                        <a href="#!">Vue</a>
                    </p>
                    <p>
                        <a href="#!">Laravel</a>
                    </p>
                </div>
                <!-- Useful links section -->
                <div>
                    <h6 class="mb-4 flex justify-center font-semibold uppercase md:justify-start">Useful links</h6>
                    <p class="mb-4">
                        <a href="#!">Pricing</a>
                    </p>
                    <p class="mb-4">
                        <a href="#!">Settings</a>
                    </p>
                    <p class="mb-4">
                        <a href="#!">Orders</a>
                    </p>
                    <p>
                        <a href="#!">Help</a>
                    </p>
                </div>
                <!-- Contact section -->
                <div>
                    <h6 class="mb-4 flex justify-center font-semibold uppercase md:justify-start">Contact</h6>
                    <p class="mb-4 flex items-center justify-center md:justify-start">
                        <span class="me-3">
                            <i class="bx bx-home-alt-2"></i>
                        </span>
                        New York, NY 10012, US
                    </p>
                    <p class="mb-4 flex items-center justify-center md:justify-start">
                        <span class="me-3">
                            <i class="bx bx-envelope"></i>
                        </span>
                        info@example.com
                    </p>
                    <p class="flex items-center justify-center md:justify-start">
                        <span class="me-3 [&>svg]:h-5 [&>svg]:w-5">
                            <i class="bx bx-phone-call"></i>
                        </span>
                        + 01 234 567 88
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!--Copyright section-->
    <div class="bg-black/5 p-6 text-center">
        <span>© 2024 Copyright:</span>
        <a class="font-semibold" href="https://tw-elements.com/">Shoes Shop</a>
    </div>
</footer>
