<!-- Footer container -->
<footer class="bg-zinc-50 text-center text-surface/75 dark:text-black lg:text-left">
    <div
        class="container flex items-center justify-center border-b-2 border-neutral-200 p-6 dark:border-white/10 lg:justify-between"
    >
        <div class="me-12 hidden lg:block">
            <span>Kết nối với chúng tôi trên mạng xã hội:</span>
        </div>
        <!-- Social network icons container -->
        <div class="flex justify-center [&_i]:text-xl">
            <a href="#!" class="me-6">
                <i class="bx bxl-facebook"></i>
            </a>
            <a href="#!" class="me-6">
                <i class="bx bxl-instagram"></i>
            </a>
            <a href="#!" class="me-6">
                <i class="bx bxl-twitter"></i>
            </a>
        </div>
    </div>

    <!-- Main container div: holds the entire content of the footer, including four sections (TW Elements, Products, Useful links, and Contact), with responsive styling and appropriate padding/margins. -->
    <div class="container">
        <div class="py-10 text-center md:text-left">
            <div class="grid-1 grid gap-8 md:grid-cols-2 lg:grid-cols-4">
                <!-- TW Elements section -->
                <div class="">
                    <h6 class="mb-4 flex items-center justify-center font-semibold uppercase md:justify-start">
                        <img class="size-10" src="/images/logo.png" alt="" />
                        <span class="ms-3">Shoes Shop</span>
                    </h6>
                    <p class="text-black/70">
                        Đồng hành cùng bạn trên mọi bước đi.
                        <br />
                        Cung cấp các loại giày dép thời trang, chất lượng cao, từ giày thể thao năng động đến giày công sở lịch lãm. Phù hợp cho mọi phong cách và dịp đặc biệt.
                    </p>
                </div>
                <!-- Products section -->
                <div>
                    <h6 class="mb-4 flex justify-center font-semibold uppercase md:justify-start">DANH MỤC SẢN PHẨM</h6>
                    <p class="mb-4">
                        <a href="#!">Giày nam</a>
                    </p>
                    <p class="mb-4">
                        <a href="#!">Giày nữ</a>
                    </p>
                    <p class="mb-4">
                        <a href="#!">Giày trẻ em</a>
                    </p>
                    <p>
                        <a href="#!">Giày thể thao</a>
                    </p>
                </div>
                <!-- Useful links section -->
                <div>
                    <h6 class="mb-4 flex justify-center font-semibold uppercase md:justify-start">Liên kết hữu ích</h6>
                    <p class="mb-4">
                        <a href="#!">Về chúng tôi</a>
                    </p>
                    <p class="mb-4">
                        <a href="#!">Chính sách giao hàng & đổi trả</a>
                    </p>
                    <p class="mb-4">
                        <a href="#!">Câu hỏi thường gặp</a>
                    </p>
                    <p>
                        <a href="#!">Liên hệ</a>
                    </p>
                </div>
                <!-- Contact section -->
                <div>
                    <h6 class="mb-4 flex justify-center font-semibold uppercase md:justify-start">Thông tin liên hệ</h6>
                    <p class="mb-4 flex items-center justify-center md:justify-start">
                        <span class="me-3">
                            <i class="bx bx-home-alt-2"></i>
                        </span>
                        123 Đường Thời Trang, Quận 1, TP. Hồ Chí Minh, Việt Nam
                    </p>
                    <p class="mb-4 flex items-center justify-center md:justify-start">
                        <span class="me-3">
                            <i class="bx bx-envelope"></i>
                        </span>
                        supportshoeshop@gmail.com
                    </p>
                    <p class="flex items-center justify-center md:justify-start">
                        <span class="me-3 [&>svg]:h-5 [&>svg]:w-5">
                            <i class="bx bx-phone-call"></i>
                        </span>
                        +84 123 456 789
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!--Copyright section-->
    <div class="bg-black/5 p-6 text-center">
        <span>© 2024 Copyright:</span>
        <a class="font-semibold" href="https://tw-elements.com/">Shoes Shop</a>
    </div>
</footer>
