<header class="fixed top-0 left-0 right-0 z-10">
    <div class="container flex justify-between items-center py-5">
        <div class="flex items-center gap-4">
            <img class="size-10" src="/images/logo.png" alt="" />
            <h1 class="text-white font-bold text-xl">Shoes Shop</h1>
        </div>

        <nav class="py-2 px-3.5 rounded-full backdrop-blur-sm bg-white">
            <ul class="flex items-center gap-5">
                <li class="rounded-full bg-primary px-2 text-white">
                    <a href="/">Home</a>
                </li>
                <li><a href="/products">Products</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>

        <div class="flex items-center gap-3 text-2xl rounded-full py-1 px-4 backdrop-blur-sm bg-white">
            <a href="">
                <i class="bx bx-search"></i>
            </a>
            <a href="">
                <i class="bx bx-cart-alt"></i>
            </a>
            <a href="">
                <i class="bx bx-user"></i>
            </a>
        </div>
    </div>
</header>
