<% if (locals.message && locals.message.length > 0)  { %>
    <div class="mb-5 flex items-center justify-between p-5 leading-normal text-green-600 bg-green-100 rounded-lg" role="alert">
        <p><%= message %></p>
        <button onclick="return this.parentNode.remove();">
            <i class='bx bx-x text-green-600'></i>
        </button>
      </div>
<% } %>

<% if (locals.error && locals.error.length > 0)  { %>
    <div class="mb-5 flex items-center justify-between p-5 leading-normal text-red-600 bg-red-100 rounded-lg" role="alert">
        <p>
            <%= error %>
        </p>

        <button onclick="return this.parentNode.remove();">
            <i class='bx bx-x text-red-600'></i>
        </button>
    </div>
<% } %>
<body class="bg-gray-100">
    <div class="container mx-auto mt-10">
        <div class="max-w-md mx-auto bg-white p-5 rounded-lg shadow-lg">
            <h2 class="text-2xl font-bold mb-5 text-center">Thêm kích cỡ</h2>
            <form action="/admin/size/create" method="POST">
                <div class="mb-4">
                    <label for="name" class="block text-gray-700 font-bold mb-2">Tên kích cỡ</label>
                    <input type="text" id="name" name="tenKichCo" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required autofocus>
                </div>
                <div class="mb-4">
                    <label for="moTa" class="block text-gray-700 font-bold mb-2">Mô tả</label>
                    <textarea id="moTa" name="moTaKichCo" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" rows="4" required></textarea>
                </div>

                <div class="flex items-center justify-between">
                    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Thêm</button>
                </div>
            </form>
        </div>
    </div>
