<div class="container">
    <div class="md:flex">
        <div class="w-full">
            <div class="md:grid md:grid-cols-3 gap-2">
                <!-- Cart -->
                <div class="col-span-2 p-5">
                    <h1 class="text-xl font-medium">Shopping Cart</h1>

                    <div class="flex justify-between items-center mt-6 pt-6">
                        <div class="flex items-center">
                            <img
                                src="https://images.stockx.com/360/Air-Jordan-1-Retro-High-Travis-Scott/Images/Air-Jordan-1-Retro-High-Travis-Scott/Lv2/img01.jpg?auto=compress&w=576&dpr=1&updated_at=1635191289&h=384&fm=avif&q=57"
                                width="60"
                                class="rounded-xl"
                            />

                            <div class="flex flex-col ml-3">
                                <span class="md:text-md font-medium">Jordan 1 Retro High OG SP</span>
                                <span class="text-xs font-light text-gray-400">Size: EU 40</span>
                            </div>
                        </div>

                        <div class="flex justify-center items-center">
                            <div class="pr-8 flex items-center text-;g">
                                <button class="font-semibold p-2 cursor-pointer">
                                    <i class="bx bx-minus"></i>
                                </button>
                                <div
                                    class="flex justify-center items-center focus:outline-none bg-gray-100 border px-3 rounded"
                                >
                                    1
                                </div>
                                <button class="font-semibold p-2 cursor-pointer">
                                    <i class="bx bx-plus"></i>
                                </button>
                            </div>

                            <div class="pr-8">
                                <span class="text-xs font-medium">$10.50</span>
                            </div>
                            <button class="text-red-500 text-lg">
                                <i class="bx bx-trash-alt"></i>
                            </button>
                        </div>
                    </div>

                    <div class="flex justify-between items-center mt-6 pt-6 border-t">
                        <div class="flex items-center">
                            <i class="fa fa-arrow-left text-sm pr-2"></i>
                            <a href="" class="text-md font-medium text-blue-500">Continue Shopping</a>
                        </div>
                    </div>
                </div>

                <!-- SUMMARY -->
                <div class="p-5 bg-gray-100 rounded-xl overflow-visible">
                    <span class="text-xl font-medium block mb-3">Summary</span>

                    <p class="flex items-center justify-between py-2 border-b">
                        <span class="text-gray-400">Item count</span>
                        <span class="block text">1</span>
                    </p>

                    <p class="flex items-center justify-between py-2">
                        <span class="text-gray-400">Subtotal</span>
                        <span class="block text">$10.50</span>
                    </p>

                    <button class="mt-3 h-12 w-full bg-primary rounded-full focus:outline-none text-white">
                        Check Out
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
