<section class="border-red-500 bg-gray-200 min-h-screen flex items-center justify-center p-10">
    <div class="bg-gray-100 p-7 flex items-center rounded-3xl shadow-xl w-full md:max-w-3xl gap-10">
        <div class="w-full md:w-1/2 h-full">
            <h2 class="text-2xl font-bold text-[#002D74]">Quên mật khẩu</h2>
            <form class="mt-6" id="forgot-form" action="/auth/forgot" method="POST">
                <div>
                    <label class="block text-gray-700">Địa chỉ Email</label>
                    <input
                        type="email"
                        name="email"
                        id="email"
                        placeholder="Nhập địa chỉ Email"
                        class="w-full px-4 py-3 rounded-lg bg-gray-200 mt-2 border focus:border-blue-500 focus:bg-white focus:outline-none"
                        autofocus
                        autocomplete
                    />
                </div>

                <% if (locals?.error) { %>
                    <p class="text-red-500 text-center my-5">
                        <%= error %>
                    </p>
                <% } %>

                <button
                    type="submit"
                    class="w-full block bg-primary hover:bg-blue-400 focus:bg-blue-400 text-white font-semibold rounded-lg px-4 py-3 mt-6"
                >
                    Gửi yêu cầu
                </button>
            </form>


            <div class="text-sm flex justify-between items-center mt-7">
                <p>Tiếp tục đăng nhập...</p>
                <button class="ml-3 bg-white border rounded-xl hover:scale-110 duration-300 border-blue-400">
                    <a class="block py-2 px-5" href="/auth/login">Đăng nhập</a>
                </button>
            </div>
        </div>

        <div class="w-0 md:w-1/2 hidden md:block h-full">
            <img src="/images/forgot-bg.gif" class="rounded-2xl h-full" alt="page img" />
        </div>
    </div>
</section>

<script src="https://unpkg.com/just-validate@latest/dist/just-validate.production.min.js"></script>

<script>
    const validation = new JustValidate("#forgot-form");

    validation
        .addField("#email", [
            {
                rule: "required",
                errorMessage: "Email là bắt buộc",
            },
            {
                rule: "email",
                errorMessage: "Email không hợp lệ!",
            },
        ])
        

    validation.onSuccess((event) => {
        event.target.submit(); // Gửi form khi không có lỗi
    });
</script>
