<section class="border-red-500 bg-gray-200 min-h-screen flex items-center justify-center p-10">
    <div class="bg-gray-100 p-7 flex items-center rounded-3xl shadow-xl w-full md:max-w-3xl gap-10">
        <div class="w-0 md:w-1/2 hidden md:block h-full">
            <img src="/images/login-bg2.jpg" class="rounded-2xl h-full" alt="page img" />
        </div>
        <div class="w-full md:w-1/2 h-full">
            <h2 class="text-2xl font-bold text-[#002D74]">Đăng ký</h2>
            <form id="register-form" class="mt-6">
                <div>
                    <label class="block text-gray-700">Tên đăng nhập</label>
                    <input
                        type="text"
                        name="username"
                        id="username"
                        placeholder="Nhập tên đăng nhập"
                        class="w-full px-4 py-3 rounded-lg bg-gray-200 mt-2 border focus:border-blue-500 focus:bg-white focus:outline-none"
                        autofocus
                        autocomplete
                    />
                </div>
                <div class="mt-4">
                    <label class="block text-gray-700">Địa chỉ Email</label>
                    <input
                        type="email"
                        name="email"
                        id="email"
                        placeholder="Nhập địa chỉ Email"
                        class="w-full px-4 py-3 rounded-lg bg-gray-200 mt-2 border focus:border-blue-500 focus:bg-white focus:outline-none"
                        autofocus
                        autocomplete
                    />
                </div>

                <div class="mt-4">
                    <label class="block text-gray-700">Mật khẩu</label>
                    <input
                        type="password"
                        name="password"
                        id="password"
                        placeholder="Nhập mật khẩu"
                        minlength="6"
                        class="w-full px-4 py-3 rounded-lg bg-gray-200 mt-2 border focus:border-blue-500 focus:bg-white focus:outline-none"
                    />
                </div>

                <button
                    type="submit"
                    class="w-full block bg-primary hover:bg-blue-400 focus:bg-blue-400 text-white font-semibold rounded-lg px-4 py-3 mt-6"
                >
                    Đăng ký
                </button>
            </form>

            <div class="mt-7 grid grid-cols-3 items-center text-gray-500">
                <hr class="border-gray-500" />
                <p class="text-center text-sm">Hoặc</p>
                <hr class="border-gray-500" />
            </div>

            <button
                class="bg-white border py-2 w-full rounded-xl mt-5 flex justify-center items-center text-sm hover:scale-105 duration-300"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    class="w-6 h-6"
                    viewBox="0 0 48 48"
                >
                    <defs>
                        <path
                            id="a"
                            d="M44.5 20H24v8.5h11.8C34.7 33.9 30.1 37 24 37c-7.2 0-13-5.8-13-13s5.8-13 13-13c3.1 0 5.9 1.1 8.1 2.9l6.4-6.4C34.6 4.1 29.6 2 24 2 11.8 2 2 11.8 2 24s9.8 22 22 22c11 0 21-8 21-22 0-1.3-.2-2.7-.5-4z"
                        />
                    </defs>
                    <clipPath id="b"><use xlink:href="#a" overflow="visible" /></clipPath>
                    <path clip-path="url(#b)" fill="#FBBC05" d="M0 37V11l17 13z" />
                    <path clip-path="url(#b)" fill="#EA4335" d="M0 11l17 13 7-6.1L48 14V0H0z" />
                    <path clip-path="url(#b)" fill="#34A853" d="M0 37l30-23 7.9 1L48 0v48H0z" />
                    <path clip-path="url(#b)" fill="#4285F4" d="M48 48L17 24l-4-3 35-10z" />
                </svg>
                <span class="ml-4">Tiếp tục với Google</span>
            </button>

            <div class="text-sm flex justify-between items-center mt-7">
                <p>Đã có tài khoản...</p>
                <button class="ml-3 bg-white border rounded-xl hover:scale-110 duration-300 border-blue-400">
                    <a class="block py-2 px-5" href="/auth/login">Đăng nhập</a>
                </button>
            </div>
        </div>
    </div>
</section>
<!-- Form validation Library -->
<script src="https://unpkg.com/just-validate@latest/dist/just-validate.production.min.js"></script>

<script>
    const validation = new JustValidate("#register-form");

    validation
        .addField("#username", [
            {
                rule: "required",
                message: "Vui lòng nhập tên đăng nhập của bạn",
            },
            {
                rule: "minLength",
                value: 6,
                message: "Tên đăng nhập phải có ít nhất 6 ký tự",
            },
            {
                rule: "maxLength",
                value: 20,
                message: "Tên đăng nhập phải có nhiều nhất 20 ký tự",
            },
        ])
        .addField("#email", [
            {
                rule: "required",
                errorMessage: "Email là bắt buộc",
            },
            {
                rule: "email",
                errorMessage: "Email không hợp lệ!",
            },
        ])
        .addField("#password", [
            {
                rule: "required",
                errorMessage: "Mật khẩu là bắt buộc",
            },
            {
                rule: "minLength",
                value: 6,
                errorMessage: "Mật khẩu phải có ít nhất 6 ký tự",
            },
            {
                rule: "maxLength",
                value: 16,
                errorMessage: "Mật khẩu phải có nhiều nhất 16 ký tự",
            },
        ]);
</script>
